.app-shell {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.app-shell__main {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-shell__main>* {
    position: relative;
    z-index: 1;
}

.app-drag-region {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 28px;
    -webkit-app-region: drag;
    z-index: 9999;
}